* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list {
  height: 10vh;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  list-style: none;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  background: transparent;
}

.nav-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.home,
.about {
  height: 90vh;
  position: absolute;
  width: 100%;
}

.home-content,
.about-content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    height: 70%;
  }
  h1 {
    font-size: 50px;
    margin: 30px 0;
  }
  p {
    font-size: 20px;
  }
}

.home {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.about {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.nav-links {
  flex-basis: 150px;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.5em 1em;
  color: black;
  outline: none;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all .5s;
  border-radius: 8px;
  box-shadow: 0 7px #999;
}

.nav-links:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition-duration: 100ms;
}

.nav-links::before,
.nav-links::after {
  content: '';
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  z-index: -3;
  transform: translate3D(0, -101%, 0);
  transition: all .5s;
}
.nav-links::before {
  background: #bad2ff;
  z-index: -2;
  transform: translate3D(0,0,0);
}
.nav-links:hover {
  color:white;
}
.nav-links:hover::after {
  transform: translate3D(0,0,0);
}

/* Curtain Down */

.curtain {
  border: 1px solid #eee;
}
.curtain::before,
.curtain::after {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  transform: translate3D(0, -101%, 0);
}
.curtain::after {
  transform: translate3D(0, 101%, 0);
}
.curtain:hover::before,
.curtain:hover::after {
  transform: translate3D(0, -50%, 0);
  translition: all .5s;
}
.curtain:hover::after  {
  transform: translate3D(0, 50%, 0);
}

/* Curtain Up */

.curtainup {
  transform-style: preserve-3d;
}
.curtainup::before,
.curtainup::after {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  transform-origin: center center;
  transform: scale(1,0);
}
.curtainup:hover::before,
.curtainup:hover::after {
  transform: scale(1);
}

/* Curtain Angle */

.curtainangle {
  border: 1px solid #eee;
}
.curtainangle::before {
  top:0;
  left:0;
  width: 150%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  transform-origin: 0 bottom;
  transform: translateX(-100%) rotate(-30deg);
}
.curtainangle::after {
  top:0;
  left:auto;
  right: 0;
  width: 150%;
  transform-origin: right bottom;
  transform: translateX(100%) rotate(30deg);
}
.curtainangle:hover::before {
  left:0;
  transform: rotate(0deg);
  transition: all .5s;
}
.curtainangle:hover::after {
  right:0;
  transform: rotate(0deg);
  transition: all .5s;
}